.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  .contactImg {
    width: 500px;
  }
}

.contactStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}