.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  .contactImg {
    width: 500px;
  }
}

.contactStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  .contactTitle {
    text-decoration: none;
    color: black;
    margin-top: 30px;
  }
  .contactTitle:hover {
    text-decoration: none;
    color: #055eb1;
    font-weight: 600;
    margin-top: 30px;
  }
  .arrowCont {
    display: flex;
    align-items: center;
  }
  .Chevron-icon {
    color: #055eb1;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
  }
  .Chevron-icon:hover {
    transform: scale(1.5);
  }
}