@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700&family=Vollkorn:wght@400;500;600;700&display=swap');

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(14, 14, 14);
  padding-right: 20px;
  position: relative;
  
  .logoNavImg{
    width: 50px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right:10px;
    margin-right: 130px;
  }
  .nav-link > li{
    margin-right:30px;
    font-weight: 500;
    color: white;
    cursor: pointer;
  .Link{
      text-decoration: none;
      color:#fff;
    }
  .Link:active{
    color: #055eb1;
  }
  .Link:hover{
    color: #055eb1;
  }
  }
  button {
    position: absolute;
    top:15px;
    right: 10px;
    background-color: #383838;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    padding: 7px 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  button:hover {
    transform: scale(1.05);
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #055eb1;
    color: #383838;
    padding: 7px 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer; //prueba
  }
}